<?xml version="1.0"?>
<launch>
  <!-- PLAYGROUND -->
  <arg name="gui" default="true" doc="toggle gazebo gui"/>
  <arg name="open_rviz" default="true"/>
  <arg name="node_start_delay" default="3.0"/>
  <arg name="override_environment" default="true" doc="toggle ability to start environment somewhere else"/>
  <arg name="use_objectives_file" default="true"/>
  <arg name="objectives_file_location" default="/escort_ws/src/escort_turtle/config/target_point.txt"/>

  <arg name="map_file" default="$(find escort_turtle)/maps/map_turtleworld.yaml"/>
  <arg name="ground_z" default="0.0" doc="playground z coordinate set to 0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <!-- <arg name="world_name" value="$(find escort_turtle)/worlds/escort_house.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- TURTLE OF INTEREST -->
  <arg name="move_forward_only" default="false"/>
  <arg name="TOI_model" default="burger"/>
  <arg name="TOI_x" default="-2.0"/>
  <arg name="TOI_y" default="0.0"/>
  <param name="TOI_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg TOI_model).urdf.xacro" />

  <!-- DEFENDING TEAM -->
  <arg name="DT_model" default="waffle"/>
  <arg name="DT0_x" default="-2.0"/>
  <arg name="DT0_y" default="1.0"/>
  <arg name="DT1_x" default="-2.0"/>
  <arg name="DT1_y" default="-1.0"/>
  <param name="DT_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg DT_model).urdf.xacro" />

  <!-- ATTACKING TEAM -->
  <arg name="AT_model" default="burger"/>
  <arg name="AT0_x" default="2.0"/>
  <arg name="AT0_y" default="1.0"/>
  <arg name="AT1_x" default="2.0"/>
  <arg name="AT1_y" default="0.0"/>
  <arg name="AT2_x" default="2.0"/>
  <arg name="AT2_y" default="-  1.0"/>
  <param name="AT_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg AT_model).urdf.xacro" />

 <!-- SIMULATION -->
  <node name="spawn_TOI" pkg="gazebo_ros" type="spawn_model" args="-urdf -model TOI -x $(arg TOI_x) -y $(arg TOI_y) -z $(arg ground_z) -param TOI_description" />
  <node name="spawn_DT0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model DT0 -x $(arg DT0_x) -y $(arg DT0_y) -z $(arg ground_z) -param DT_description" />
  <node name="spawn_DT1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model DT1 -x $(arg DT1_x) -y $(arg DT1_y) -z $(arg ground_z) -param DT_description" />
  <node name="spawn_AT0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model AT0 -x $(arg AT0_x) -y $(arg AT0_y) -z $(arg ground_z) -param AT_description" />
  <node name="spawn_AT1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model AT1 -x $(arg AT1_x) -y $(arg AT1_y) -z $(arg ground_z) -param AT_description" />
  <node name="spawn_AT2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model AT2 -x $(arg AT0_x) -y $(arg AT2_y) -z $(arg ground_z) -param AT_description" />

  <include file="$(find fleet_turtle)/launch/godspeed.launch">
    <arg name="override_environment" value="$(arg override_environment)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="model" value="$(arg TOI_model)"/>
    <arg name="x_pos" value="$(arg TOI_x)"/>
    <arg name="y_pos" value="$(arg TOI_y)"/>
    <arg name="map_file"  value="$(arg map_file)"/>
    <arg name="open_rviz" value="$(arg open_rviz)"/>
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
    <arg name="exploration_mode" value="false"/>
    <arg name="teleoperation_mode" value="false"/>
    <arg name="uv_cleaning" value="false"/>
    <arg name="use_navigation_node" value="true"/>
    <arg name="use_objectives_file" value="true"/>
    <arg name="objectives_file_location" value="$(arg objectives_file_location)"/>
  </include>  

  <!--env name="GAZEBO_MODEL_PATH" value="$(find turtlebot3_big_house)/worlds"/-->
  <!-- <env name="TURTLEBOT3_MODEL" value="burger"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/> -->
  
</launch>
